<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Correo con FLASK</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/index.css' ) }}">
  <title>UBATÉ, ¡¡¡ DESTINO DE TRADICIONES !!!</title>
</head>

<body id="page-top" class="formulario">
  <div class="">
    <h1>CORREO CON FLASK</h1>
    <br>
    <h4> Digita tu correo llenando los siguientes datos.</h4>
    <br>
  </div>
  <form action="/contact" class="form" method="POST">
    <div class="flex-row">
      <label for="destinatario"><b>
          <h5> Destinatario</h5>
        </b></label>
      <input type="text" placeholder="Destinatario" name="email" required>
      <label for="asunto"><b>
          <h5>Asunto</h5>
        </b></label>
      <input type="text" placeholder="Asunto" name="asunto" required>
    </div>
    <div class="">
      <label for="msg"></label>
      <h5>Descripción</h5>
      </p><textarea name="texto" rows="6" cols="40" placeholder="Descripción"></textarea></label>
      <div class="clearfix">
        <button type="submit" class="enviar">ENVIAR</button>
        <button type="reset" class="cancelar">CANCELAR</button>
      </div>
    </div>
  </form>
  </div>
</body>

</html>